<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Person List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
            <div>
                <input type="text" class="form-control" name="firstName" [(ngModel)]="firstName" (ngModelChange) ="Search()"
                placeholder="Enter FirstName to Search"/>
            </div>
          <tr>
            <th (click)="sort('id')">ID&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
            <th (click)="sort('id')">Firstname&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
            <th (click)="sort('id')">Lastname&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
            <th (click)="sort('id')">Email&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of persons | orderBy: key : reverse">
            <td>{{person.id}}</td>
            <td>{{person.firstName}}</td>
            <td>{{person.lastName}}</td>
            <td>{{person.email}}</td>
            <td>
                <button (click)="UpdatePerson(person.id)" class="btn btn-info">Edit</button>
                <button (click)="deletePerson(person.id)" class="btn btn-danger"style="margin-left: 10px">Delete</button>
                <button (click)="PersonDetails(person.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
